<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/memo" method="post">
        <textarea class="form-control" name="content" id="content" rows="20"><%=boards.content%></textarea>
        <br>
        <input type="submit" value="전송" />
    </form>
</body>

</html>