<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/uploads" method="post" enctype="multipart/form-data">
        <input type="file" name="userfile" />
        <input type="submit" value="전송" />
        <br>
        <textarea class="form-control" name="content" id="content" rows="20"></textarea>
    </form>
</body>

</html>